/Lab_4_Skeleton/nbproject/private/
/Lab_4_Skeleton/build/
/Lab_5_Skeleton/nbproject/private/
/Lab_5_Skeleton/build/
/Lab_6_Skeleton/nbproject/private/
/Lab_6_Skeleton/build/
/Lab_7/nbproject/private/
